/* 
 * RESERT CSS
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { list-style: none; }

a { text-decoration: none; }


/* 
 * Body
*/
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}


main:after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}


/* 
 * Container
*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.content .logo {
    max-width: 200px;
    margin-bottom: 30px;
}

.content .description {
    width: 49%;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
}

.carousel-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-button .button {
    color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    /* border-color: #ffffff; */
}

.carousel-button .button.select{ background-color: #FFF200; }


/* 
 * Lateral Menu
*/
.lateral-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.lateral-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

.lateral-menu .icon {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.lateral-menu .icon:hover { transform: scale(1.2); }


/* 
 * Carousel
*/
.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carousel .image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: changeImage 0.7s;
}
 
.carousel .image.active { display: block; }

@keyframes changeImage {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}


/* 
 * Responsiveness
*/
@media (max-width: 1280px) {
    body {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content .description {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .content .logo {
        max-width: 150px;
    }

    .content .description {
        width: 100%;
    }

    .lateral-menu {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .lateral-menu ul { flex-direction: row; }

    .content {
        min-height: 70vh;
        gap: 50px;
    }
}